# Group 2 - In-Class Presenation Assignment 
###### Team Members: Yakun Zhao, Jingcheng Shan, Stephen Huang, Ziqi Zhang, Yixiao Hong, Hongzheng Xu

In [0]:
# Import All Liabraries Here
import numpy as np
import pandas as pd
from scipy.stats import chi2_contingency, chisquare

## Q1 Chi Square Test for Association (Independence)

##### With **IOS vs Android** Dataset

In [12]:
table = np.array([[93, 200, 219, 93, 53, 7], [75, 154, 149, 47, 28, 14]])
Hn = 'Cell phone OS selection and user age are independent.'
Ha = 'Cell phone OS selection and user age are dependent.'
alpha  = 0.05
stat, pval, dof, exp_table = chi2_contingency(table)
print('P-value = {}'.format(pval.round(4)))
if pval > 0.05:
  print('Accept null hypothesis.', Hn)
else:
  print('Reject null hypothesis.', Ha)

dof

P-value = 0.0331
Reject null hypothesis. Cell phone OS selection and user age are dependent.

5

##### With **Breast Cancer** Dataset

In [13]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer/breast-cancer.data'
df = pd.read_csv(url, error_bad_lines=False)
df.columns = ["class","age","menopause","tumor-size","inv-nodes","node-caps","deg-malig","breast","breast-quad","irradiat"]
df.head()

                  class    age menopause  ... breast breast-quad irradiat
0  no-recurrence-events  40-49   premeno  ...  right    right_up       no
1  no-recurrence-events  40-49   premeno  ...   left    left_low       no
2  no-recurrence-events  60-69      ge40  ...  right     left_up       no
3  no-recurrence-events  40-49   premeno  ...  right   right_low       no
4  no-recurrence-events  60-69      ge40  ...   left    left_low       no

[5 rows x 10 columns]

In [14]:
table = df.groupby(['class', 'breast']).size().unstack(level=1, fill_value=0).to_numpy()

Hn = 'The recurrence of breast cancer and the infection side are independent.'
Ha = 'The recurrence of breast cancer and the infection side are dependent.'
alpha  = 0.05
stat, pval, dof, exp_table = chi2_contingency(table)
print('P-value = {}'.format(pval.round(4)))
if pval > 0.05:
  print('Accept null hypothesis.', Hn)
else:
  print('Reject null hypothesis.', Ha)

P-value = 0.3687
Accept null hypothesis. The recurrence of breast cancer and the infection side are independent.

In [15]:
sub_table = df.groupby(['class', 'breast']).size().unstack(level=1, fill_value=0)
display(sub_table)

breast                left  right
class
no-recurrence-events   102     98
recurrence-events       49     36

## Q2 Chi Square Test for Homogeneity (Comparison of Two Distributions)

##### Compare Two Groups
##### With **IOS vs Android** Dataset

In [16]:
table = np.array([[93, 200, 219, 93, 53, 7], [75, 154, 149, 47, 28, 14]])
Hn = 'This two groups have the same distribution.'
Ha = 'This two groups have different distributions.'
alpha  = 0.05
stat, pval, dof, exp_table = chi2_contingency(table)
print('P-value = {}'.format(pval.round(4)))
if pval > 0.05:
  print('Accept null hypothesis.', Hn)
else:
  print('Reject null hypothesis.', Ha)

P-value = 0.0331
Reject null hypothesis. This two groups have different distributions.

Compare Sample and Population
With 'Breast Cancer' Dataset

In [17]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer/breast-cancer.data'
df = pd.read_csv(url, error_bad_lines=False)
df.columns = ["class","age","menopause","tumor-size","inv-nodes","node-caps","deg-malig","breast","breast-quad","irradiat"]
df.head()

                  class    age menopause  ... breast breast-quad irradiat
0  no-recurrence-events  40-49   premeno  ...  right    right_up       no
1  no-recurrence-events  40-49   premeno  ...   left    left_low       no
2  no-recurrence-events  60-69      ge40  ...  right     left_up       no
3  no-recurrence-events  40-49   premeno  ...  right   right_low       no
4  no-recurrence-events  60-69      ge40  ...   left    left_low       no

[5 rows x 10 columns]

In [18]:
df_sample = df.sample(frac=0.5, replace=False, random_state=42)
df_sample.head()

                    class    age menopause  ... breast breast-quad irradiat
9    no-recurrence-events  40-49   premeno  ...   left     central       no
249     recurrence-events  40-49   premeno  ...   left     left_up       no
157  no-recurrence-events  50-59      ge40  ...  right     central       no
209     recurrence-events  40-49   premeno  ...   left    left_low       no
75   no-recurrence-events  50-59      ge40  ...   left    left_low       no

[5 rows x 10 columns]

In [19]:
population = pd.DataFrame(df.groupby(['tumor-size']).size(), columns=['population'])
sample = pd.DataFrame(df_sample.groupby(['tumor-size']).size(), columns=['sample'])
result = pd.concat([population, sample], axis=1, sort=False).fillna(0)
display(result)

            population  sample
tumor-size
0-4                  8       4
10-14               28      16
15-19               30      17
20-24               50      21
25-29               54      28
30-34               59      28
35-39               19      13
40-44               22      10
45-49                3       1
5-9                  4       2
50-54                8       2

In [20]:
table = result.to_numpy().T
Hn = 'The sample and the population have the same distribution.'
Ha = 'The sample and the population have different distribution.'
alpha  = 0.05
stat, pval = chisquare(f_obs=table[1], f_exp=table[0]/np.sum(table[0])*np.sum(table[1]))
print('P-value = {}'.format(pval.round(4)))
if pval > 0.05:
  print('Accept null hypothesis.', Hn)
else:
  print('Reject null hypothesis.', Ha)

P-value = 0.9533
Accept null hypothesis. The sample and the population have the same distribution.

In [21]:
table

array([[ 8, 28, 30, 50, 54, 59, 19, 22,  3,  4,  8],
       [ 4, 16, 17, 21, 28, 28, 13, 10,  1,  2,  2]])

## Q3. Test of association for N-dimensional tables

# **Breast Cancer Data Description**

---



Citation Request:
   This breast cancer domain was obtained from the University Medical Centre,
   Institute of Oncology, Ljubljana, Yugoslavia.  Thanks go to M. Zwitter and 
   M. Soklic for providing the data.  Please include this citation if you plan
   to use this database.

1. Title: Breast cancer data (Michalski has used this)

2. Sources: 
   -- Matjaz Zwitter & Milan Soklic (physicians)
      Institute of Oncology 
      University Medical Center
      Ljubljana, Yugoslavia
   -- Donors: Ming Tan and Jeff Schlimmer (Jeffrey.Schlimmer@a.gp.cs.cmu.edu)
   -- Date: 11 July 1988

3. Past Usage: (Several: here are some)
     -- Michalski,R.S., Mozetic,I., Hong,J., & Lavrac,N. (1986). The 
      Multi-Purpose Incremental Learning System AQ15 and its Testing 
      Application to Three Medical Domains.  In Proceedings of the 
      Fifth National Conference on Artificial Intelligence, 1041-1045,
      Philadelphia, PA: Morgan Kaufmann.
      -- accuracy range: 66%-72%
     -- Clark,P. & Niblett,T. (1987). Induction in Noisy Domains.  In 
      Progress in Machine Learning (from the Proceedings of the 2nd
      European Working Session on Learning), 11-30, Bled, 
      Yugoslavia: Sigma Press.
      -- 8 test results given: 65%-72% accuracy range
     -- Tan, M., & Eshelman, L. (1988). Using weighted networks to 
      represent classification knowledge in noisy domains.  Proceedings 
      of the Fifth International Conference on Machine Learning, 121-134,
      Ann Arbor, MI.
      -- 4 systems tested: accuracy range was 68%-73.5%
    -- Cestnik,G., Konenenko,I, & Bratko,I. (1987). Assistant-86: A
      Knowledge-Elicitation Tool for Sophisticated Users.  In I.Bratko
      & N.Lavrac (Eds.) Progress in Machine Learning, 31-45, Sigma Press.
      -- Assistant-86: 78% accuracy

4. Relevant Information:
     This is one of three domains provided by the Oncology Institute
     that has repeatedly appeared in the machine learning literature.
     (See also lymphography and primary-tumor.)

     This data set includes 201 instances of one class and 85 instances of
     another class.  The instances are described by 9 attributes, some of
     which are linear and some are nominal.

5. Number of Instances: 286

6. Number of Attributes: 9 + the class attribute

7. Attribute Information:
   1. Class: no-recurrence-events, recurrence-events
   2. age: 10-19, 20-29, 30-39, 40-49, 50-59, 60-69, 70-79, 80-89, 90-99.
   3. menopause: lt40, ge40, premeno.
   4. tumor-size: 0-4, 5-9, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40-44, 45-49, 50-54, 55-59.
   5. inv-nodes: 0-2, 3-5, 6-8, 9-11, 12-14, 15-17, 18-20, 21-23, 24-26, 27-29, 30-32, 33-35, 36-39.
   6. node-caps: yes, no.
   7. deg-malig: 1, 2, 3.
   8. breast: left, right.
   9. breast-quad: left-up, left-low, right-up,	right-low, central.
  10. irradiat:	yes, no.

8. Missing Attribute Values: (denoted by "?")
   Attribute #:  Number of instances with missing values:
   6.             8
   9.             1.

9. Class Distribution:
    1. no-recurrence-events: 201 instances
    2. recurrence-events: 85 instances

In [22]:
#import the dataframe
import pandas as pd
import numpy as np
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer/breast-cancer.data'
df = pd.read_csv(url, header=None)
categorical_features = ["Class","age","menopause","tumor-size","inv-nodes","node-caps","deg-malig","breast","breast-quad","irradiat"]
df.columns = categorical_features
df.head()

                  Class    age menopause  ... breast breast-quad irradiat
0  no-recurrence-events  30-39   premeno  ...   left    left_low       no
1  no-recurrence-events  40-49   premeno  ...  right    right_up       no
2  no-recurrence-events  40-49   premeno  ...   left    left_low       no
3  no-recurrence-events  60-69      ge40  ...  right     left_up       no
4  no-recurrence-events  40-49   premeno  ...  right   right_low       no

[5 rows x 10 columns]

In [23]:
from scipy.stats import chi2_contingency

feature_num = len(categorical_features)
result = pd.DataFrame(index=categorical_features, columns=categorical_features)

def chi2_test(feature1,feature2):
    print("======================================================================================")
    print("                        Comparing ",categorical_features[i]," vs. ",categorical_features[j])
    print("======================================================================================")
    
    #Get the title of the two columns that we are intersted
    col_of_interest = []
    col_of_interest.append(feature1)
    col_of_interest.append(feature2)

    #create the sub dataframe with the selected two colums
    sub_df = df[col_of_interest].dropna()

    #drop entries where values are missing
    for k in col_of_interest:
      sub_df = sub_df[sub_df[k] != '?']

    #display the groupby count for two selected features
    stats_duo_features_sum_df_table = sub_df.groupby([feature1, feature2]).size().unstack(level=1, fill_value=0)
    
    #change all datatype to int
    stats_duo_features_sum_df_table = stats_duo_features_sum_df_table.astype('int32')

    print("\n" + "==>Summation Table:" + "\n")
    display(stats_duo_features_sum_df_table)

    #make hypophysis
    H0 = feature1 + ' and ' +  feature1 + ' are independent.'
    Ha = feature2 + ' and ' +  feature2 + ' are dependent.'

    #set the threshold of alpha
    alpha  = 0.05

    #Do the chi2 contingency calculation
    '''
    #The stat, pval, dof, exp_table = chi2_contingency(table) function Returns
    stat :The test statistic.
    pval: The p-value of the test
    dof : Degrees of freedom
    exp_table :The expected frequencies, based on the marginal sums of the table.
    '''
    stat, pval, dof, exp_table = chi2_contingency(stats_duo_features_sum_df_table.values)

    #compare the pval with the threshold of alpha, and display the result
    print("\n"+"==>Chi2 Contingency Test Resluts:"+"\n")
    if pval > 0.05:
      print('Accept null hypothesis.', H0)
      result.iloc[i,j] = "independent"
    else:
      print('Reject null hypothesis.', Ha)
      result.iloc[i,j] = "dependent"
    print("\n")


#loop to check each pair of features
for i in range(feature_num-1):
  for j in range(i+1,feature_num):
    chi2_test(categorical_features[i],categorical_features[j])

======================================================================================
                        Comparing  Class  vs.  age
======================================================================================

==>Summation Table:

age                   20-29  30-39  40-49  50-59  60-69  70-79
Class
no-recurrence-events      1     21     63     71     40      5
recurrence-events         0     15     27     25     17      1

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. Class and Class are independent.


======================================================================================
                        Comparing  Class  vs.  menopause
======================================================================================

==>Summation Table:

menopause             ge40  lt40  premeno
Class
no-recurrence-events    94     5      102
recurrence-events       35     2       48

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. Class and Class are independent.


======================================================================================
                        Comparing  Class  vs.  tumor-size
======================================================================================

==>Summation Table:

tumor-size            0-4  10-14  15-19  20-24  ...  40-44  45-49  5-9  50-54
Class                                           ...
no-recurrence-events    7     27     23     34  ...     16      2    4      5
recurrence-events       1      1      7     16  ...      6      1    0      3

[2 rows x 11 columns]

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. Class and Class are independent.


======================================================================================
                        Comparing  Class  vs.  inv-nodes
======================================================================================

==>Summation Table:

inv-nodes             0-2  12-14  15-17  24-26  3-5  6-8  9-11
Class
no-recurrence-events  167      1      3      0   19    7     4
recurrence-events      46      2      3      1   17   10     6

==>Chi2 Contingency Test Resluts:

Reject null hypothesis. inv-nodes and inv-nodes are dependent.


======================================================================================
                        Comparing  Class  vs.  node-caps
======================================================================================

==>Summation Table:

node-caps              no  yes
Class
no-recurrence-events  171   25
recurrence-events      51   31

==>Chi2 Contingency Test Resluts:

Reject null hypothesis. node-caps and node-caps are dependent.


======================================================================================
                        Comparing  Class  vs.  deg-malig
======================================================================================

==>Summation Table:

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

deg-malig              1    2   3
Class
no-recurrence-events  59  102  40
recurrence-events     12   28  45

==>Chi2 Contingency Test Resluts:

Reject null hypothesis. deg-malig and deg-malig are dependent.


======================================================================================
                        Comparing  Class  vs.  breast
======================================================================================

==>Summation Table:

breast                left  right
Class
no-recurrence-events   103     98
recurrence-events       49     36

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. Class and Class are independent.


======================================================================================
                        Comparing  Class  vs.  breast-quad
======================================================================================

==>Summation Table:

breast-quad           central  left_low  left_up  right_low  right_up
Class
no-recurrence-events       17        75       71         18        20
recurrence-events           4        35       26          6        13

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. Class and Class are independent.


======================================================================================
                        Comparing  Class  vs.  irradiat
======================================================================================

==>Summation Table:

irradiat               no  yes
Class
no-recurrence-events  164   37
recurrence-events      54   31

==>Chi2 Contingency Test Resluts:

Reject null hypothesis. irradiat and irradiat are dependent.


======================================================================================
                        Comparing  age  vs.  menopause
======================================================================================

==>Summation Table:

menopause  ge40  lt40  premeno
age
20-29         0     0        1
30-39         0     1       35
40-49         9     0       81
50-59        59     4       33
60-69        55     2        0
70-79         6     0        0

==>Chi2 Contingency Test Resluts:

Reject null hypothesis. menopause and menopause are dependent.


======================================================================================
                        Comparing  age  vs.  tumor-size
======================================================================================

==>Summation Table:

tumor-size  0-4  10-14  15-19  20-24  25-29  ...  35-39  40-44  45-49  5-9  50-54
age                                          ...
20-29         0      0      0      0      0  ...      1      0      0    0      0
30-39         2      2      5      6      6  ...      3      4      0    1      0
40-49         2      8      5     21     18  ...      7      5      1    1      2
50-59         3      9     10     14     21  ...      7      8      0    1      3
60-69         0      8      9      8      9  ...      1      3      2    1      3
70-79         1      1      1      1      0  ...      0      2      0    0      0

[6 rows x 11 columns]

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. age and age are independent.


======================================================================================
                        Comparing  age  vs.  inv-nodes
======================================================================================

==>Summation Table:

inv-nodes  0-2  12-14  15-17  24-26  3-5  6-8  9-11
age
20-29        1      0      0      0    0    0     0
30-39       24      0      0      0    6    4     2
40-49       68      3      3      0   10    3     3
50-59       71      0      3      0   12    6     4
60-69       44      0      0      1    8    4     0
70-79        5      0      0      0    0    0     1

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. age and age are independent.


======================================================================================
                        Comparing  age  vs.  node-caps
======================================================================================

==>Summation Table:

node-caps  no  yes
age
20-29       1    0
30-39      28    8
40-49      71   18
50-59      71   21
60-69      46    9
70-79       5    0

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. age and age are independent.


======================================================================================
                        Comparing  age  vs.  deg-malig
======================================================================================

==>Summation Table:

deg-malig   1   2   3
age
20-29       0   1   0
30-39       7  17  12
40-49      18  48  24
50-59      25  39  32
60-69      17  24  16
70-79       4   1   1

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. age and age are independent.


======================================================================================
                        Comparing  age  vs.  breast
======================================================================================

==>Summation Table:

breast  left  right
age
20-29      0      1
30-39     21     15
40-49     41     49
50-59     56     40
60-69     30     27
70-79      4      2

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. age and age are independent.


======================================================================================
                        Comparing  age  vs.  breast-quad
======================================================================================

==>Summation Table:

breast-quad  central  left_low  left_up  right_low  right_up
age
20-29              0         0        0          0         1
30-39              5        14       10          4         3
40-49              3        33       31         11        12
50-59              8        38       32          6        11
60-69              4        24       22          2         5
70-79              1         1        2          1         1

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. age and age are independent.


======================================================================================
                        Comparing  age  vs.  irradiat
======================================================================================

==>Summation Table:

irradiat  no  yes
age
20-29      1    0
30-39     26   10
40-49     64   26
50-59     81   15
60-69     41   16
70-79      5    1

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. age and age are independent.


======================================================================================
                        Comparing  menopause  vs.  tumor-size
======================================================================================

==>Summation Table:

tumor-size  0-4  10-14  15-19  20-24  25-29  ...  35-39  40-44  45-49  5-9  50-54
menopause                                    ...
ge40          4     13     15     23     19  ...      6     13      2    2      4
lt40          0      1      2      2      0  ...      0      0      0    0      0
premeno       4     14     13     25     35  ...     13      9      1    2      4

[3 rows x 11 columns]

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. menopause and menopause are independent.


======================================================================================
                        Comparing  menopause  vs.  inv-nodes
======================================================================================

==>Summation Table:

inv-nodes  0-2  12-14  15-17  24-26  3-5  6-8  9-11
menopause
ge40        94      1      3      1   16   10     4
lt40         7      0      0      0    0    0     0
premeno    112      2      3      0   20    7     6

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. menopause and menopause are independent.


======================================================================================
                        Comparing  menopause  vs.  node-caps
======================================================================================

==>Summation Table:

node-caps   no  yes
menopause
ge40       100   24
lt40         5    0
premeno    117   32

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. menopause and menopause are independent.


======================================================================================
                        Comparing  menopause  vs.  deg-malig
======================================================================================

==>Summation Table:

deg-malig   1   2   3
menopause
ge40       34  49  46
lt40        4   1   2
premeno    33  80  37

==>Chi2 Contingency Test Resluts:

Reject null hypothesis. deg-malig and deg-malig are dependent.


======================================================================================
                        Comparing  menopause  vs.  breast
======================================================================================

==>Summation Table:

breast     left  right
menopause
ge40         72     57
lt40          5      2
premeno      75     75

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. menopause and menopause are independent.


======================================================================================
                        Comparing  menopause  vs.  breast-quad
======================================================================================

==>Summation Table:

breast-quad  central  left_low  left_up  right_low  right_up
menopause
ge40              12        49       47          8        12
lt40               0         3        3          0         1
premeno            9        58       47         16        20

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. menopause and menopause are independent.


======================================================================================
                        Comparing  menopause  vs.  irradiat
======================================================================================

==>Summation Table:

irradiat    no  yes
menopause
ge40       100   29
lt40         7    0
premeno    111   39

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. menopause and menopause are independent.


======================================================================================
                        Comparing  tumor-size  vs.  inv-nodes
======================================================================================

==>Summation Table:

inv-nodes   0-2  12-14  15-17  24-26  3-5  6-8  9-11
tumor-size
0-4           8      0      0      0    0    0     0
10-14        26      0      0      0    1    1     0
15-19        26      1      1      0    0    1     1
20-24        36      0      0      1   12    1     0
25-29        40      1      1      0    8    3     1
30-34        37      1      1      0   10    7     4
35-39        13      0      2      0    0    1     3
40-44        14      0      1      0    5    2     0
45-49         2      0      0      0    0    1     0
5-9           4      0      0      0    0    0     0
50-54         7      0      0      0    0    0     1

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. tumor-size and tumor-size are independent.


======================================================================================
                        Comparing  tumor-size  vs.  node-caps
======================================================================================

==>Summation Table:

node-caps   no  yes
tumor-size
0-4          8    0
10-14       27    1
15-19       25    4
20-24       39    9
25-29       41   10
30-34       42   16
35-39       12    7
40-44       16    6
45-49        2    1
5-9          4    0
50-54        6    2

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. tumor-size and tumor-size are independent.


======================================================================================
                        Comparing  tumor-size  vs.  deg-malig
======================================================================================

==>Summation Table:

deg-malig    1   2   3
tumor-size
0-4          3   4   1
10-14       14  12   2
15-19        9  15   6
20-24       10  27  13
25-29       11  26  17
30-34       13  21  26
35-39        2   7  10
40-44        5   9   8
45-49        1   1   1
5-9          2   2   0
50-54        1   6   1

==>Chi2 Contingency Test Resluts:

Reject null hypothesis. deg-malig and deg-malig are dependent.


======================================================================================
                        Comparing  tumor-size  vs.  breast
======================================================================================

==>Summation Table:

breast      left  right
tumor-size
0-4            4      4
10-14         16     12
15-19         15     15
20-24         26     24
25-29         29     25
30-34         35     25
35-39         10      9
40-44         10     12
45-49          2      1
5-9            3      1
50-54          2      6

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. tumor-size and tumor-size are independent.


======================================================================================
                        Comparing  tumor-size  vs.  breast-quad
======================================================================================

==>Summation Table:

breast-quad  central  left_low  left_up  right_low  right_up
tumor-size
0-4                5         1        0          2         0
10-14              1        12       12          2         1
15-19              3        15        8          3         1
20-24              4        19       20          3         4
25-29              2        22       17          8         5
30-34              4        18       21          5        11
35-39              0         9        6          0         4
40-44              0         9        9          0         4
45-49              1         1        0          0         1
5-9                1         1        0          1         1
50-54              0         3        4          0         1

==>Chi2 Contingency Test Resluts:

Reject null hypothesis. breast-quad and breast-quad are dependent.


======================================================================================
                        Comparing  tumor-size  vs.  irradiat
======================================================================================

==>Summation Table:

irradiat    no  yes
tumor-size
0-4          8    0
10-14       25    3
15-19       24    6
20-24       41    9
25-29       37   17
30-34       44   16
35-39       15    4
40-44       15    7
45-49        1    2
5-9          3    1
50-54        5    3

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. tumor-size and tumor-size are independent.


======================================================================================
                        Comparing  inv-nodes  vs.  node-caps
======================================================================================

==>Summation Table:

node-caps   no  yes
inv-nodes
0-2        201    9
12-14        1    2
15-17        1    5
24-26        0    1
3-5         15   19
6-8          3   14
9-11         1    6

==>Chi2 Contingency Test Resluts:

Reject null hypothesis. node-caps and node-caps are dependent.


======================================================================================
                        Comparing  inv-nodes  vs.  deg-malig
======================================================================================

==>Summation Table:

deg-malig   1   2   3
inv-nodes
0-2        67  98  48
12-14       0   0   3
15-17       0   1   5
24-26       0   0   1
3-5         3  20  13
6-8         0   7  10
9-11        1   4   5

==>Chi2 Contingency Test Resluts:

Reject null hypothesis. deg-malig and deg-malig are dependent.


======================================================================================
                        Comparing  inv-nodes  vs.  breast
======================================================================================

==>Summation Table:

breast     left  right
inv-nodes
0-2         115     98
12-14         2      1
15-17         3      3
24-26         1      0
3-5          14     22
6-8          12      5
9-11          5      5

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. inv-nodes and inv-nodes are independent.


======================================================================================
                        Comparing  inv-nodes  vs.  breast-quad
======================================================================================

==>Summation Table:

breast-quad  central  left_low  left_up  right_low  right_up
inv-nodes
0-2               18        79       73         18        24
12-14              0         0        1          2         0
15-17              0         3        2          0         1
24-26              0         1        0          0         0
3-5                2        17       12          0         5
6-8                1         7        4          3         2
9-11               0         3        5          1         1

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. inv-nodes and inv-nodes are independent.


======================================================================================
                        Comparing  inv-nodes  vs.  irradiat
======================================================================================

==>Summation Table:

irradiat    no  yes
inv-nodes
0-2        183   30
12-14        0    3
15-17        5    1
24-26        0    1
3-5         19   17
6-8          8    9
9-11         3    7

==>Chi2 Contingency Test Resluts:

Reject null hypothesis. irradiat and irradiat are dependent.


======================================================================================
                        Comparing  node-caps  vs.  deg-malig
======================================================================================

==>Summation Table:

deg-malig   1    2   3
node-caps
no         66  103  53
yes         0   26  30

==>Chi2 Contingency Test Resluts:

Reject null hypothesis. deg-malig and deg-malig are dependent.


======================================================================================
                        Comparing  node-caps  vs.  breast
======================================================================================

==>Summation Table:

breast     left  right
node-caps
no          116    106
yes          30     26

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. node-caps and node-caps are independent.


======================================================================================
                        Comparing  node-caps  vs.  breast-quad
======================================================================================

==>Summation Table:

breast-quad  central  left_low  left_up  right_low  right_up
node-caps
no                18        85       76         18        24
yes                3        21       18          5         9

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. node-caps and node-caps are independent.


======================================================================================
                        Comparing  node-caps  vs.  irradiat
======================================================================================

==>Summation Table:

irradiat    no  yes
node-caps
no         188   34
yes         28   28

==>Chi2 Contingency Test Resluts:

Reject null hypothesis. irradiat and irradiat are dependent.


======================================================================================
                        Comparing  deg-malig  vs.  breast
======================================================================================

==>Summation Table:

breast     left  right
deg-malig
1            37     34
2            65     65
3            50     35

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. deg-malig and deg-malig are independent.


======================================================================================
                        Comparing  deg-malig  vs.  breast-quad
======================================================================================

==>Summation Table:

breast-quad  central  left_low  left_up  right_low  right_up
deg-malig
1                  7        28       22          7         7
2                 10        50       43         11        16
3                  4        32       32          6        10

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. deg-malig and deg-malig are independent.


======================================================================================
                        Comparing  deg-malig  vs.  irradiat
======================================================================================

==>Summation Table:

irradiat   no  yes
deg-malig
1          64    7
2          98   32
3          56   29

==>Chi2 Contingency Test Resluts:

Reject null hypothesis. irradiat and irradiat are dependent.


======================================================================================
                        Comparing  breast  vs.  breast-quad
======================================================================================

==>Summation Table:

breast-quad  central  left_low  left_up  right_low  right_up
breast
left              11        78       36         17         9
right             10        32       61          7        24

==>Chi2 Contingency Test Resluts:

Reject null hypothesis. breast-quad and breast-quad are dependent.


======================================================================================
                        Comparing  breast  vs.  irradiat
======================================================================================

==>Summation Table:

irradiat   no  yes
breast
left      117   35
right     101   33

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. breast and breast are independent.


======================================================================================
                        Comparing  breast-quad  vs.  irradiat
======================================================================================

==>Summation Table:

irradiat     no  yes
breast-quad
central      19    2
left_low     82   28
left_up      72   25
right_low    17    7
right_up     27    6

==>Chi2 Contingency Test Resluts:

Accept null hypothesis. breast-quad and breast-quad are independent.

In [24]:
#Summation of the test
display(result)

            Class          age  ...  breast-quad     irradiat
Class         NaN  independent  ...  independent    dependent
age           NaN          NaN  ...  independent  independent
menopause     NaN          NaN  ...  independent  independent
tumor-size    NaN          NaN  ...    dependent  independent
inv-nodes     NaN          NaN  ...  independent    dependent
node-caps     NaN          NaN  ...  independent    dependent
deg-malig     NaN          NaN  ...  independent    dependent
breast        NaN          NaN  ...    dependent  independent
breast-quad   NaN          NaN  ...          NaN  independent
irradiat      NaN          NaN  ...          NaN          NaN

[10 rows x 10 columns]